.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 48px;
  border: 1px solid #dfe4ef;
}

.subwrapper-1 {
  display: flex;
  align-items: baseline;
  gap: 16px;
  width: 100%;
}

.show-button {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 14px;
}

.circle {
  width: 22px;
  height: 22px;
  border: 1px solid #d3d8df;
  border-radius: 50px;
  background-image: url("../../images/vector-9.svg");
  background-repeat: no-repeat;
  background-position: center 8px;
}

.text-1 {
  font-size: 15px;
  font-family: "Fira Sans Medium";
  letter-spacing: 0;
}

.text-2 {
  font-size: 11px;
  font-family: "Fira Sans Regular";
  letter-spacing: 0;
  color: #8e9cbb;
}

.small-circles {
  display: flex;
  align-items: center;
  gap: 6px;
}

.small-circle-1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff238d;
}

.small-circle-2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffb800;
}

.small-circle-3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff8d23;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-left: 31px;
}

.vector-1 {
  width: 14px;
  height: 14px;
  background-image: url("../../images/vector-6.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.vector-2 {
  display: block;
  width: 10px;
  height: 16px;
  background-image: url("../../images/vector-8.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 16px;
  margin-left: 22px;
}

.delete {
  width: 13px;
  height: 15px;
  background-image: url("../../images/vector-7.svg");
  background-repeat: no-repeat;
  background-position: center center;
}