<div class="wrapper">
  <div class="show-button">
    <button class="circle" (click)="showDocuments()"></button>
  </div>
  <div class="subwrapper-1">
    <div class="text-1">{{ data.type }}</div>
    <div *ngIf="data.mark" class="small-circles">
      <div class="small-circle-1"></div>
      <div class="small-circle-2"></div>
      <div class="small-circle-3"></div>
    </div>
    <div class="text-2">
      {{ data.attribute }}
    </div>
  </div>
  <div class="buttons">
    <button class="vector-1"></button>
    <button class="delete"></button>
  </div>
  <button class="vector-2"></button>
</div>
