<div class="wrapper">
  <div class="title">
    <div class="title-text">Документы</div>
    <div class="buttons">
      <app-bookmark-button></app-bookmark-button>
      <app-new-type-button></app-new-type-button>
      <app-new-document-button></app-new-document-button>
    </div>
  </div>
  <div class="search">
    <app-search></app-search>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="categories"
    (cdkDropListDropped)="dropGroup($event)"
    class="cat category-list"
  >
    <div
      *ngFor="let category of categories; let i = index"
      cdkDrag
      [cdkDragDisabled]="dragDropState"
      class="category-box"
    >
      <app-category
        [data]="category"
        (dragDropEvent)="dragDrop($event)"
        (showDocumentsFirstEvent)="showDocuments($event, i)"
        (showDocumentsSecondEvent)="showDocuments($event, i)"
      ></app-category>
      <div [@openClose]="styles[i] ? 'true' : 'false'">
        <ng-container
          *ngTemplateOutlet="template; context: { number: i }"
        ></ng-container>
      </div>
    </div>
  </div>

  <div cdkDropListGroup class="document-container">
    <ng-template #template let-index="number">
      <div
        cdkDropList
        [cdkDropListData]="documents[index]"
        (cdkDropListDropped)="drop($event)"
        class="doc document-list"
      >
        <div
          *ngFor="let document of documents[index]"
          cdkDrag
          [cdkDragDisabled]="dragDropState"
          class="document-box"
        >
          <app-document
            [data]="document"
            (dragDropEvent)="dragDrop($event)"
          ></app-document>
        </div>
      </div>
    </ng-template>

    <div
      cdkDropList
      [cdkDropListData]="noCategoryDocuments"
      (cdkDropListDropped)="drop($event)"
      class="no-cat document-list"
    >
      <br />
      <div
        *ngFor="let document of noCategoryDocuments"
        cdkDrag
        [cdkDragDisabled]="dragDropState"
        class="document-box"
      >
        <app-document
          [style]="{ width: '1160px', 'margin-left': '0' }"
          [data]="document"
          (dragDropEvent)="dragDrop($event)"
        ></app-document>
      </div>
    </div>
  </div>
</div>
